
/* message styling */
.BOLD {
    -fx-font-weight: bold;
}

.UNDERLINE {
    -fx-underline: true;
}

.ITALIC {
    -fx-font-style: italic;
}

.STRIKE {
    -fx-strikethrough: true;
}

.msg-author {
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.message-content-user {
    -fx-background-color: #1468b6;
    -fx-padding: 3px;
    -fx-font-size: 13px;
}

.message-content {
    -fx-background-color: #8b3838;
    -fx-padding: 3px;
    -fx-font-size: 13px;
}

.time {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/*Chat*/

/*Message toolbar*/

.msg-toolbar {
    -fx-background-color: white;
}

.msg-input {
    -fx-background-color: transparent;

}

.msg-send {
    -fx-background-color: transparent;
}

/*Chat */
.scroll-pane .viewport {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.chat-pane {
    -fx-background-color: transparent;
}