/*Game window*/

.game-shell {
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.game-board {
    -fx-alignment: center;
    
}

/*side bar*/

.score {
    -fx-font-size: 35px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}