/*Game window*/


.game-shell {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.banner {
    -fx-font-family: "Karmatic Arcade";
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-border-insets: 12;
    -fx-background-insets: 12;
    -fx-padding: 16;
    /*-fx-text-fill: rgba(255, 255, 255, 0.35)*/
}

/*center */

.game-board {
    -fx-alignment: center;
    -fx-background-color: rgba(0, 0, 0, 0.377);
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.timer {
    -fx-accent: green;
    -fx-padding: 0;
    -fx-text-box-border: black;
    -fx-control-inner-background: black;
}


/*side bar*/

.sidebar {
    -fx-padding: 15px;
    -fx-background-insets: 15px;
    -fx-border-insets: 15px;
}

.sidebar-text {
    -fx-text-fill: white;
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 26;
    
}

.props {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 10px;
}

.warning {
    -fx-text-fill: red;
    -fx-font-family: "Karmatic Arcade";
    -fx-font-weight: bold;
    -fx-font-size: 35px;
}

.scoreboard {
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 20;
}