
.instruction-bg {
    -fx-background-image: url("../images/3.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.key-icon {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

.scroll-pane .viewport {
    -fx-background-color: rgba(0, 0, 0, 0.377);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.action-name {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.action-description {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.remove-key {
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 20;
    -fx-text-fill: red;
}
