
.lobby-shell {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.channel-title {
    -fx-text-fill: white;
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 30;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.no-channels {
    -fx-text-fill: red;
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 25;
}

.expanding-tf-name {
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

.expanding-tf-shell {
    -fx-background-color: rgb(11, 126, 11, 0.5);
    -fx-padding: 7px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.expanding-tf-input {
    -fx-padding: 5px;
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
}


/*list of users*/

