
/*Menu*/

.menu-shell {
    -fx-background-image: url("../images/3.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.menu-title {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/*Menu Items*/

.menu-item-shell {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.menu-item-text {
    -fx-text-fill: white;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-family: "Karmatic Arcade";
    -fx-padding: 12px;
    -fx-line-spacing: -7px;
}



