
.label {
    -fx-text-fill: white;
}

.final-score {
    -fx-font-size: 36;
    -fx-text-fill: white;
    -fx-font-family: "Karmatic Arcade";
}

.scoreboard {
    -fx-font-family: "Karmatic Arcade";
    -fx-font-size: 20;
    -fx-padding: 20;
    -fx-background-insets: 20;
    -fx-border-insets: 20;
}

.score-shell {
    -fx-background-image: url("../images/2.jpg");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.scoreboard {
    -fx-font-family: 'Karmatic Arcade';
    -fx-font-size: 20;
    -fx-padding: 20;
    -fx-background-insets: 20;
    -fx-border-insets: 20;
}

.name-input {
    -fx-font-size: 14px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.name-input .msg-input {
    -fx-border-color: transparent;
    -fx-background-color: -fx-control-inner-background;
    -fx-font-family: "Karmatic Arcade";
    -fx-padding: 7px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.name-input .msg-input:focused {
    -fx-border-color: transparent;
}

.name-input .msg-send {
    -fx-background-color: transparent;
}

